<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<title>LJMU HBS Holiday Requests</title>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>LJMU Holiday Requests</title>
</head>
<body>
	<div id="wrapper">

	   <div id="header">
	   <h3>Liverpool John Moores University</h3>
	   <h4>Holiday Requests</h4>
	   </div>
	   <div id="navigation" >



	     <p><%= link_to "| Log in", login_path %>| <%= link_to "| Log Out ", logout_path %> |<%= link_to "| Requests", holidays_path %>|<%= link_to "| New Holiday", new_holiday_path 
		%> |<%= link_to "| Posts |", posts_path 
			%>|</p>
	</div>

			 <div id="content">

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<% form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Username or Email Address" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Log in" %></p>
<% end %>
	 </div>
</div>



</body>

</html>

