<html>
<body>
<head>
<%= javascript_include_tag :all %> 
<%= stylesheet_link_tag 'SiteStyle'%>
</head>
  <% if flash[:notice] %>
  <div class = "flash"><%= flash[:notice] %>
  <% end %>
</div>  
  <div id = "wrapper">
  <%= yield %>
  <%= auto_discovery_link_tag :atom, formatted_holidays_path(:atom) %>
  </div>
  </body>
  </html>
