<% form_for @holiday, :html => { :multipart => true } do |f| -%>
 <%= f.error_messages %>
    <p> <%= f.label :"Date Leaving (YYYY/MM/DD)" %><br />
        <%= f.datetime_select :dateleaving %>
    </p>
 <p> <%= f.label :"Date Returning (YYYY/MM/DD)" %><br />
        <%= f.datetime_select :datereturning %>
    </p>
  <%= f.file_field :photo %>
<p>
 	<% if current_user.admin == true %>
	<p>
	  <%= f.label :approved, "Approved?" %><br />
	  <%= f	.check_box :approved %>
	</p>
</p>
<p> <%= f.label :"Declined?" %><br />
        <%= f.check_box :declined %>
    </p>
<p> <%= f.label :"Comments" %><br />
        <%= f.text_area :comments %>
				<% end %>
	
	  <p> <%= f.submit 'Edit/Submit Request' %></p>
	<% end %>
