<%= will_paginate @holidays, :renderer => "RemoteLinkRenderer",:remote => {:update => "content"} %>					  
<table width="500" border="1" align="center" class="gridtable" id="meh">
<tr id="">
    <th height="26" scope="col">Username</th>
    <th scope="col">Date Leaving</th>
    <th scope="col">Date Submitted</th>
    <th scope="col">Approved</th>
    <th scope="col">Date Updated</th>
  </tr>
<tr>
<td><%=h link_to holiday.user.username, holiday %></td>
<td><%=h holiday.dateleaving%></td>
<td><%=h time_ago_in_words(holiday.created_at) %></td>
<td><%=h holiday.approved%></td>
<td><%=h time_ago_in_words(holiday.updated_at) %></td>
</tr>
</table>

