<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<title>LJMU Holiday Requests</title>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<div id="wrapper">

	   <div id="header">
	   <h3>Liverpool John Moores University</h3>
	   <h4>Holiday Requests</h4>
	   </div>
	   <div id="navigation" >



	     <p><%= link_to "| Log in", login_path %>| <%= link_to "| Log Out ", logout_path %> |<%= link_to "| Requests", holidays_path %>|<%= link_to "| New Holiday", new_holiday_path 
		%> |<%= link_to "| Posts |", posts_path 
			%>|</p>
	</div>

			 <div id="content">



						   <p style="a:link =">sdsd</p>
				           <table width="500" border="1" align="center" class="gridtable">
				    <tr id="table2">

				      <th height="26" scope="col">Username</th>
				      <th scope="col">Date Leaving</th>
				      <th scope="col">Date Submitted</th>
				      <th scope="col">Approved</th>
				      <th scope="col">Date Updated</th>


				    </tr>
				    <% for holiday in @holidays%>

				<tr>

				  <td><%= link_to holiday.user.username, holiday %></td>
				  <td><%=h holiday.dateleaving%></td>
				  <td><%=h holiday.created_at%></td>
				  <td><%=h holiday.approved%></td>
				  <td><%=h holiday.updated_at%></td>
				</tr>
				<% end %>
				<%= will_paginate @holidays, :remote => {:with => 'value', :update => 'some_div'} %>

				</table>
						   
						 </div>
					</div>



				</body>

				</html>




