<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<title>LJMU New Holiday Request</title>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<div id="wrapper">

	   <div id="header">
	   <h3>Liverpool John Moores University</h3>
	   <h4>Holiday Requests</h4>
	   </div>
	   <div id="navigation" >



	     <p><%= link_to "| Log in", login_path %>| <%= link_to "| Log Out ", logout_path %> |<%= link_to "| Requests", holidays_path %>|<%= link_to "| New Holiday", new_holiday_path 
		%> |<%= link_to "| Posts |", posts_path 
			%>|</p>
	</div>

			 <div id="content">
<h1>Create a new Holiday!</h1>
<%= render :partial => "form" %>
<p><%= link_to "Cancel", holidays_path %></p>
 </div>
</div>



</body>

</html>




