<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%=h @holiday.user.username %> Holiday Request</title>
</head>
<body>
	<div id="wrapper">

	   <div id="header">
	   <h3>Liverpool John Moores University</h3>
	   <h5>Holiday Requests</h5>
	   </div>
	   <div id="navigation" >



	     <p><%= link_to "| Log in", login_path %>| <%= link_to "| Log Out ", logout_path %> |<%= link_to "| Requests", holidays_path %>|<%= link_to "| New Holiday", new_holiday_path 
		%> |<%= link_to "| Posts |", posts_path 
			%>|</p>
	</div>
			 <div id="content">
				<p	</p>
				
					<table width="500" border="1" align="center" class="gridtable">
				
					 <tr id="table2">

				      <th height="26" scope="col">Username</th>
				      <th scope="col">First Name</th>
				      <th scope="col">Second Name</th>
				      <th scope="col">Date Leaving</th>
				      <th scope="col">Date Returning</th>
				      <th scope="col">Approved</th>
				      <th scope="col">Rejected</th>
				      <th scope="col">Comments</th>
				
				
				
				


				    </tr>
				<tr>
				
						<td><%=h @holiday.user.username %></td>
					  <td><%=h @holiday.user.fname %></td>
					  <td><%=h @holiday.user.sname %></td>
					  <td><%=h @holiday.dateleaving %></td>
					  <td><%=h @holiday.datereturning %></td>
						<% if @holiday.approved? %>
						<% else %>
						<td>This Holiday Request has not been checked</td>
					  <% end %>
						<% if @holiday.approved == true %>
						<td>Your Request has been approved!</td>
							<% end %>
							<% if @holiday.declined? %>
								<% else %>
								  <td>This Holiday Request has not been checked</td>
								<% end %>
								<% if @holiday.declined == true %>
								<td>Your Request has been DECLINED!</td>
									<% end %>
					  <td><%=h @holiday.comments %></td>
					</tr>
					</table>
	<h5>Holiday Photo</h5>
		<% if @holiday.photo.file? %>
		  <%= image_tag @holiday.photo.url(:small) %>
		<% else %>
		  <p>No Photo available!</p>
		<% end %>
		<h5>___________</h5>

<% if current_user.id == @holiday.user.id || current_user.admin == true %>
<%= link_to 'Edit or Approve Holiday', edit_holiday_path %> | <%= 
link_to 'Back', holidays_path %> |
<%= link_to 'Delete this Holiday Request', @holiday, :confirm => "Are 
you sure?", :method => :delete %>
<% end %>
 </div>
</div>



</body>

</html>








